<p><%= link_to "Back to all accounts", root_path %></p>

<h1>Withdraw from <%= @account.name %>'s Account</h1>

<p>Balance: <%= @account.balance %></p>

<% if @withdraw.errors.present? %>
  <ul>
    <% @withdraw.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @withdraw, :as => :withdraw, :url => account_withdraw_path(@account) do |f| %>
  <%= f.label :amount %>
  <%= f.text_field :amount %>
  <%= f.submit "Deposit" %>
<% end %>




