<p><%= link_to "Back to all accounts", root_path %></p>

<h1>Transfer Between Accounts</h1>


<% if @transfer.errors.present? %>
  <ul>
    <% @transfer.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @transfer do |f| %>
  <div>
    <%= f.label :from_name %><br />
    <%= f.select :from_name, @accounts.map { |a| ["#{a.name} - #{a.balance}", a.name] }, :selected => f.object.from_name, :include_blank => true %>
  </div>
  <div>
    <%= f.label :to_name %><br />
    <%= f.select :to_name, @accounts.map { |a| ["#{a.name} - #{a.balance}", a.name] }, :selected => f.object.to_name, :include_blank => true %>
  </div>
  <div>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <%= f.submit "Transfer" %>
<% end %>




